<div class="dialogue-player-controls text-center mb-3" data-target="{{chatid}}">
    <div class="btn-group" role="group">
        <button class="btn btn-primary db-play-btn"><i class="fa fa-play" aria-hidden="true"></i> {{#str}} play, mod_dialoguebuilder {{/str}}</button>
        <button class="btn btn-secondary db-pause-btn" disabled><i class="fa fa-pause" aria-hidden="true"></i> {{#str}} pause, mod_dialoguebuilder {{/str}}</button>
        <button class="btn btn-outline-secondary db-replay-btn" disabled><i class="fa fa-refresh" aria-hidden="true"></i> {{#str}} replay, mod_dialoguebuilder {{/str}}</button>
    </div>
</div>

{{#js}}
require(['jquery'], function($) {
    var controls = $('div[data-target="{{chatid}}"]');
    var target = $('#{{chatid}}');
    var playBtn = controls.find('.db-play-btn');
    var pauseBtn = controls.find('.db-pause-btn');
    var replayBtn = controls.find('.db-replay-btn');

    playBtn.on('click', function() {
        playBtn.prop('disabled', true);
        pauseBtn.prop('disabled', false);
        replayBtn.prop('disabled', false);
        target.trigger('dialogue:play');
    });

    pauseBtn.on('click', function() {
        playBtn.prop('disabled', false);
        pauseBtn.prop('disabled', true);
        target.trigger('dialogue:pause');
    });

    replayBtn.on('click', function() {
        playBtn.prop('disabled', true);
        pauseBtn.prop('disabled', false);
        target.trigger('dialogue:replay');
    });
    
    target.on('dialogue:ended', function() {
        playBtn.prop('disabled', true);
        pauseBtn.prop('disabled', true);
        replayBtn.prop('disabled', false);
    });
});
{{/js}}
