{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @template mod_dialoguebuilder/player
    @copyright 2026 Matheus Mathias
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Player template for mod_dialoguebuilder.

}}

<div class="mod-dialoguebuilder__player-controls text-center mb-3" data-target="{{chatid}}">
    <div class="btn-group" role="group">
        <button class="btn btn-primary mod-dialoguebuilder__play-btn"><i class="fa fa-play" aria-hidden="true"></i> {{#str}} play, mod_dialoguebuilder {{/str}}</button>
        <button class="btn btn-secondary mod-dialoguebuilder__pause-btn" disabled><i class="fa fa-pause" aria-hidden="true"></i> {{#str}} pause, mod_dialoguebuilder {{/str}}</button>
        <button class="btn btn-outline-secondary mod-dialoguebuilder__replay-btn" disabled><i class="fa fa-refresh" aria-hidden="true"></i> {{#str}} replay, mod_dialoguebuilder {{/str}}</button>
    </div>
</div>

{{#js}}
require(['mod_dialoguebuilder/player_controls'], function(Controls) {
    Controls.init('{{chatid}}');
});
{{/js}}
